.video-container {
  position: relative;
  width: 850px;
  border-radius: 3px;
  overflow: hidden;
  background-color: black;
  user-select: none;
  -webkit-user-select: none;
}

.video-container:focus {
  outline: none;
}

.video-element {
  width: 100%;
  height: 100%;
}

.video-element video {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  margin-bottom: -4px;
}

.video-controls {
  position: absolute;
  width: calc(100% - 35px);
  background-color: rgba(0, 0, 0, 0.555);
  left: 0;
  right: 0;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.541);
  margin: 0 auto;
  height: 60px;
  bottom: 17.5px;
  backdrop-filter: saturate(110%) brightness(115%) blur(10px) contrast(115%);
  transition: opacity 0.2s;
}

.video-container[hide-controls] {
  cursor: none;
}

.video-container[hide-controls] .video-controls {
  opacity: 0;
}

.video-controls .control-section {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.video-container .video-controls {
  display: flex;
  flex-wrap: nowrap;
}

.video-container .left-area,
.video-container .right-area {
  max-width: 100%;
  width: 100%;
}

.right-area {
  display: flex;
}

.video-controls .control-element {
  box-sizing: border-box;
  max-height: 100%;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.video-controls .control-element svg:hover {
  fill: rgb(27, 33, 63);
}
.video-controls .control-element svg {
  cursor: pointer;
  position: relative;
  fill: white;
  z-index: 5;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.right-area .control-element {
  justify-content: flex-end;
}

.video-controls svg {
  height: 100%;
}

.video-controls .duration {
  color: white;
  margin-left: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.control-section .progress-bar {
  width: 100%;
  position: absolute;
  height: 4px;
  bottom: 60px;
  background-color: rgba(85, 85, 85, 0.562);
  backdrop-filter: blur(10px);
  transition: 0.2s height;
  box-sizing: border-box;
  cursor: pointer;
}

.progress-bar .current-progress {
  position: absolute;
  width: 0%;
  z-index: 2;
  height: 100%;
  background-color: rgb(27, 33, 63);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.progress-bar .current-progress::after {
  content: "";
  background-color: rgb(27, 33, 63);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: translateX(7.5px);
  border: 3px solid white;
  box-sizing: border-box;
  transition: 0.2s;
  flex-shrink: 0;
  flex-grow: 0;
  pointer-events: none;
}

.progress-bar .loaded-progress {
  width: 0%;
  z-index: 1;
  position: absolute;
  height: 100%;
  background-color: rgb(167, 167, 167);
  transition: width 0.2s;
}

.control-section .progress-bar:hover {
  height: 10px;
}

.control-section .progress-bar:hover .current-progress::after {
  height: 20px;
  width: 20px;
  transform: translateX(10px);
}
.progress-bar .click-handler {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.video-container:not([fullscreen]) .fullscreen {
  display: block;
}

.video-container[fullscreen] .fullscreen {
  display: none;
}

.video-container[fullscreen] .normalscreen {
  display: block;
}

.video-container:not([fullscreen]) .normalscreen {
  display: none;
}

.video-container:not([playing]) .play {
  display: block;
}

.video-container[playing] .play {
  display: none;
}

.video-container[playing] .pause {
  display: block;
}

.video-container:not([playing]) .pause {
  display: none;
}

.video-container .volume-on {
  display: block;
}

.video-container .volume-off {
  display: none;
}

.video-container[muted] .volume-off {
  display: block !important;
}

.video-container[muted] .volume-on {
  display: none !important;
}

.volume-on,
.volume-off {
  padding: 17px !important;
}

#volume-slider {
  position: absolute;
  height: 70px;
  width: 6px;
  background-color: rgb(167, 167, 167);
  display: flex;
  align-items: flex-end;
  bottom: 90px;
  box-shadow: 0px 0px 10px 3px rgb(110, 109, 109);
  left: 24px;
  cursor: pointer;
}

#volume-slider .slider-progress {
  display: flex;
  background-color: rgb(27, 33, 63);
  justify-content: flex-start;
  height: 100%;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  flex-grow: 0;
  cursor: pointer;
}

#volume-slider .slider-progress::after {
  content: "";
  background-color: rgb(27, 33, 63);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: translateY(-4.5px) translateX(-4.5px);
  border: 3px solid white;
  box-sizing: border-box;
  transition: 0.2s;
  flex-shrink: 0;
  flex-grow: 0;
  pointer-events: none;
}
