.fadeInLeft {
  transform: translateX(110%);
  animation: 0.4s fadeInLeft cubic-bezier(0.1, 0.1, 0.25, 0.9) forwards;
  animation-delay: 0.2s;
}

.fadeOutRight {
  animation: 0.4s fadeInLeft cubic-bezier(0.1, 0.1, 0.25, 0.9) reverse;
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.select-none {
  user-select: none;
  -webkit-user-select: none;
}
